body{font-family: Verdana, Geneva, Tahoma, sans-serif;}
/* .showcols, .showrows{width:50%; float: left;} */
img{max-width: 100%;}
a{cursor: pointer; text-decoration: none;}
.btn {
    border: 1px solid #222;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    margin: 0 5px 3px 0;
    padding: 5px 15px;
    cursor: pointer;
    color:#fff;
    background-color: #222;
    text-decoration: none;
}
.btn:hover{background-color: #999;}
.btn.active{
    color: #222;
    background-color: #fff;
}

.hidden{display: none;}

header{background-color: #222; width: 100%; height: 50px; padding: 10px 50px; color:#fff; margin-bottom: 50px;}
.top-bar { padding:20px; text-align:left; background-color:#fafafa;}
.app-container{padding: 10px 50px;}
.welcome_info{float: left;}
header a{ color:#fff}
.data_body{padding: 10px 50px;}
.filter-functions{padding: 10px 50px;}
.show-filter{margin-right: 50px;}
#myTable{  width:100% !important;  margin-top: 50px; text-align: left; font-size: 12px;}
#myTable thead tr{background: #efefef;}
#myTable tbody tr:nth-child(even) {background: #efefef;}
#myTable .img-cell{background: #fff;}
#myTable .img-cell img{width:80px;}
#myTable td, #myTable th{padding:5px 10px;}
#myTable .tabledata{cursor: pointer;}
#myTable .tabledata i{display: none;}
#myTable .tabledata:hover i{display: block;}
.pagination{max-width: 100%; margin-top:20px; display: block; padding: 10px 30px 80px;}
.pagination a{margin-right:10px; float: left; cursor: pointer; font-size: 10px; }
.pagination a.active{font-weight: 600; color:#000;}

.filter-form{margin-bottom: 10px;}
.filter-form label{font-size: 14px; margin-right: 15px;}
.filter-form select{margin-right: 30px;}
.filter-btn-container{margin-top: 20px;}
.inputnumber{width: 50px;    margin-right: 10px;}

/* The side navigation menu */
.header-menu a span{visibility: hidden;}
.header-drawer-toggle{ position: absolute;  left: 50px;  top: 10px;}
.header-search, .header-search-close{    position: absolute;  right: 50px;  top: 10px;}
.header-search-close{display: none;}
#search-form{position: absolute;  width:350px; right:-400px; top:10px;}
#search-field{width:90%; height:32px;}
#search-form label{display:none;}
#search-form input{border-radius: 8px;font-size: 14px; border:none; padding: 4px 10px; color:#333;}
#search-form input[type="submit"] {  background-color: #333;   border: none;   color: white;  text-align: center;  cursor: pointer;  transition: background-color 0.3s;  width:50px;  margin-left:-57px;}
#search-form input[type="submit"]:hover {  background-color: #555; }
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #222; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align:left;
}

.menu-icon:hover {
    cursor: pointer;
    color: #DA203D;
}

.sidenav .title {
    color:#efd09e;
    border-bottom: 1px solid #efd09e;
    padding: 20px 0px 8px 0px;
    margin: 0px 32px;
    font-size:12px;
    text-transform:uppercase;
}
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #ccc;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav .active {
    color:#ccccff;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

<<<<<<< HEAD
  /* topnav */
  .elevation {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
 }

  .layout-drawer {
    background-color: #FFFFFF;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-296px);
    transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
    height: 100%;
    max-width: 280px;
    min-width: 280px;
    width: 280px;
    z-index: 4;
 }
  .layout-drawer.is-open {
    transform: translateX(0);
 }
  .layout-drawer * {
    flex-shrink: 0;
 }
  .layout-drawer .drawer-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    position: relative;
 }
  .layout-drawer .drawer-header.drawer-border {
    border-bottom: 1px solid #CCCCCC;
 }
  .layout-drawer .drawer-header.drawer-header-cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
 }
  .layout-drawer .drawer-header .drawer-user {
    display: flex;
    flex-direction: column;
    position: relative;
 }
  .layout-drawer .drawer-header .drawer-user .drawer-avatar {
    box-sizing: border-box;
    background: #EEEEEE;
    border-radius: 50%;
    margin: 16px 0 8px 24px;
    height: 64px;
    width: 64px;
 }
  .layout-drawer .drawer-header .drawer-user .drawer-avatar img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
 }
  .layout-drawer .drawer-header .drawer-user .drawer-meta {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 56px;
 }
  .layout-drawer .drawer-header .drawer-user .drawer-meta .drawer-name, .layout-drawer .drawer-header .drawer-user .drawer-meta .drawer-email {
    padding-left: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
  .layout-drawer .drawer-header .drawer-user .drawer-meta .drawer-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
 }
  .layout-drawer .drawer-navigation {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
 }
  .layout-drawer .drawer-navigation.drawer-border {
    border-bottom: 1px solid #CCCCCC;
 }
  .layout-drawer .drawer-navigation .drawer-navigation {
    padding: 0;
 }
  .layout-drawer .drawer-navigation .drawer-navigation.drawer-border {
    border-bottom: none;
 }
  .layout-drawer .drawer-navigation .drawer-navigation .drawer-list-item {
    color: rgba(0,0,0,0.74);
    padding-left: 48px;
    height: 36px;
 }
  .layout-drawer .drawer-navigation .drawer-navigation .drawer-list-item:focus {
    color: rgba(0,0,0,0.87);
 }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle, .layout-drawer .drawer-navigation .drawer-list-item, .layout-drawer .drawer-navigation .drawer-subtitle {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 24px;
 }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle, .layout-drawer .drawer-navigation .drawer-list-item {
    color: rgba(0,0,0,0.87);
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s cubic-bezier(0.4,0,0.2,1), color 0.3s cubic-bezier(0.4,0,0.2,1);
    height: 48px;
 }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle:focus, .layout-drawer .drawer-navigation .drawer-list-item:focus {
    background-color: #E0E0E0;
 }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle:focus .drawer-badge, .layout-drawer .drawer-navigation .drawer-list-item:focus .drawer-badge {
    background-color: rgba(0,0,0,0.87);
 }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle:focus .material-icons, .layout-drawer .drawer-navigation .drawer-list-item:focus .material-icons {
    color: rgba(0,0,0,0.87);
 }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle.is-active, .layout-drawer .drawer-navigation .drawer-list-item.is-active {
    color: #3B1A50;
 }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle.is-active .drawer-badge, .layout-drawer .drawer-navigation .drawer-list-item.is-active .drawer-badge {
    background-color: #3B1A50;
 }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle.is-active .material-icons, .layout-drawer .drawer-navigation .drawer-list-item.is-active .material-icons {
    color: inherit;
 }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle span, .layout-drawer .drawer-navigation .drawer-list-item span {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle .material-icons, .layout-drawer .drawer-navigation .drawer-list-item .material-icons {
    color: rgba(0,0,0,0.54);
    margin-right: 24px !important;
    transition: color 0.3s cubic-bezier(0.4,0,0.2,1);
 }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle .drawer-badge, .layout-drawer .drawer-navigation .drawer-list-item .drawer-badge {
    background-color: rgba(0,0,0,0.54);
    border-radius: 2px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-right: 24px;
    padding: 0 4px;
    transition: background-color 0.3s cubic-bezier(0.4,0,0.2,1);
    height: 24px;
    min-width: 24px;
 }
  .layout-drawer .drawer-navigation .drawer-dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: 0;
    padding: 0 24px;
    text-align: left;
 }
  .layout-drawer .drawer-navigation .drawer-list-item {
    text-decoration: none;
 }
  .layout-drawer .drawer-navigation .drawer-subtitle {
    color: rgba(0,0,0,0.54);
    overflow: hidden;
    padding-top: 8px;
    text-overflow: ellipsis;
    height: 40px;
    white-space: nowrap;
 }
  
=======
  .searchnav {color:#fff; padding: 20px;}
 
>>>>>>> 7f6650b9fe6be10bc903c1605aa6de95278a0f2d
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* product page tabs */
  .product-content p { margin: 0 0 20px; line-height: 1.5; }
  .product { min-width: 320px; padding: 20px; margin: 0 auto; background: #fff; }
  .product section { display: none; padding: 20px 0 0; border-top: 1px solid #ddd; }
  .product input { display: none; }
  .product label { display: inline-block; margin: 0 0 -1px; padding: 15px 25px; font-weight: 600; text-align: center; color: #bbb; border: 1px solid transparent; }
  .product label:before { font-family: fontawesome; font-weight: normal; margin-right: 10px; }
  .product label[for*='1']:before { content: '\f00b'; }
  .product label[for*='2']:before { content: '\f05a'; }
  .product label[for*='3']:before { content: '\f03e'; }
  .product label[for*='4']:before { content: '\f02d'; }
  .product label:hover { color: #888; cursor: pointer; }
  .product input:checked + label { color: #555; border: 1px solid #ddd; border-top: 2px solid #DA203D; border-bottom: 1px solid #fff; }
  #tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 { display: block; }

  /* product page table */
  .table-column { float:left; width:50%; padding: 5px; }
  .product-table { display: table; min-width:400px; margin:50px auto; width:80%; }
  .media { width: 100% !important; border-spacing: 2em 0; border-collapse: separate; }
  .media td { text-align:center !important;}
  .product-table td { padding:10px 20px; border: 1px solid #C1C3D1; text-align:left; font-size:14px; line-height:30px;}
  .product-table .title { background-color:#1b1e24; color:#D5DDE5; text-align:center; font-weight:700; border: 1px solid #1b1e24;}
  .product-table .l { background-color: #efefef; width:35%;}
  .dataTables_filter input {display: inline-block !important;}