body{font-family: Verdana, Geneva, Tahoma, sans-serif;}
.showcols, .showrows{width:50%; float: left;}
img{max-width: 100%;}
a{cursor: pointer; text-decoration: none;}
.btn {
    border: 1px solid #222;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    margin: 0 5px 3px 0;
    padding: 5px 15px;
    cursor: pointer;
    color:#fff;
    background-color: #222;
    text-decoration: none;
}
.btn:hover{background-color: #999;}
.btn.active{
    color: #222;
    background-color: #fff;
}

.hidden{display: none;}

header{background-color: #222; width: 100%; height: 50px; padding: 10px 50px; color:#fff;}
.top-bar { padding:20px; text-align:left; background-color:#fafafa;}
.app-container{padding: 10px 50px;}
.welcome_info{float: left;}
header a{float:right; margin-left:20px; color:#fff}
.data_body{padding: 10px 50px;}
.filter-functions{padding: 10px 50px;}
.show-filter{margin-right: 50px;}
#myTable{  width:100%;  margin-top: 50px; text-align: left; font-size: 12px;}
#myTable thead tr{background: #efefef;}
#myTable tbody tr:nth-child(even) {background: #efefef;}
#myTable .img-cell{background: #fff;}
#myTable .img-cell img{width:80px;}
#myTable td, #myTable th{padding:5px 10px;}
.pagination{max-width: 100%; margin-top:20px; display: block; padding: 10px 30px 80px;}
.pagination a{margin-right:10px; float: left; cursor: pointer; font-size: 10px; }
.pagination a.active{font-weight: 600; color:#000;}

.filter-form{margin-bottom: 10px;}
.filter-form label{font-size: 14px; margin-right: 15px;}
.filter-form select{margin-right: 30px;}
.filter-btn-container{margin-top: 20px;}
.inputnumber{width: 50px;    margin-right: 10px;}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align:left;
}

.menu-icon:hover {
    cursor: pointer;
    color: #DA203D;
}

.sidenav .title {
    color:#efd09e;
    border-bottom: 1px solid #efd09e;
    padding: 20px 0px 8px 0px;
    margin: 0px 32px;
    font-size:12px;
    text-transform:uppercase;
}
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #ccc;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav .active {
    color:#ccccff;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }